@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #1A1A1A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-porta: #1A1A1A;
  --color-pao: #888888;
  --color-cordeiro: #F5F5F5;
  --color-sangue: #C9A84C;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
